<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (pageTitle)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"/>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</head>
