<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header (pageTitle=#{page.home.header.title})"/>
<body>
<div class="jumbotron">
    <h1 th:text="#{page.home.title}"/>
    <div>
        <ul>
            <li><a th:href="@{/thymeleaf}" th:text="#{link.thymeleaf}"/></li>
            <li><a th:href="@{/wicket}" th:text="#{link.wicket}"/></li>
            <li><a th:href="@{/wickleaf}" th:text="#{link.wickleaf}"/></li>
        </ul>
    </div>
</div>
</body>
</html>